<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Painel Admin</title>

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav class="navbar navbar-light bg-white border-bottom">

        <span class="navbar-brand">
            TREINO SCORE
        </span>

        <a class="btn btn-danger btn-sm">
            Sair
        </a>

    </nav>

    <div class="container py-4">

        <h2 class="text-center mb-4">
            Painel do Admin
        </h2>

        <input
            class="form-control mb-4"
            placeholder="Buscar usuário por nome...">

        <h4>Alunos</h4>

        <table class="table table-sm bg-white">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Yasmin de Oliveira</td>
                    <td>yasmin@gmail.com</td>
                    <td>
                        <button class="btn btn-primary btn-sm">
                            Ver Treinos
                        </button>

                        <button class="btn btn-warning btn-sm">
                            Atualizar
                        </button>

                        <button class="btn btn-danger btn-sm">
                            Deletar
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>José Siqueira</td>
                    <td>jose@gmail.com</td>
                    <td>
                        <button class="btn btn-primary btn-sm">
                            Ver Treinos
                        </button>

                        <button class="btn btn-warning btn-sm">
                            Atualizar
                        </button>

                        <button class="btn btn-danger btn-sm">
                            Deletar
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</body>

</html>